<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="css/header.css">
    <% for (const where of stylesheets) { %>
        <link rel="stylesheet" href="css/<%=where%>">
    <% } %>
    <title><%=title%></title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (userId) { %>
                <li><a href="/signout">Sign Out</a></li>
            <% } else { %>
                <li><a href="/signUp">Sign Up</a></li>
                <li><a href="/logIn">Log In</a></li>
            <% } %>
        </ul>
    </nav>
    