<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/index.css">

    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <!-- TDDO learn how to move the page down to a ceratin location using js -->
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
        </ul>
    </nav>

    <main>
        <h1>Account Manager | Daily Project</h1>
        <p>Manage your emplooyes with this account application.</p>
        <img src="images/Logo (1).png" alt="">
    </main>

    <!-- Second 100vh -->
    <section id="goal">
        <h2>Goal</h2>
        <hr>
        <div>
            <h3>To Understand: </h3>
            <ul>
                <li>Express Auth</li>
                <li>Express Routes</li>
                <li>Mongoose Connection With Mongodb</li>
                <li>Bcrypt</li>
                <li>Express Errors (Async/Normal)</li>
                <li>Express Sessions (Universal)</li>
                <li>Authorization</li>
            </ul>
        </div>
        <aside>
            <h4>I would like to say that I have learned a decent amount 
                about these packages. Overall, this project was challenging and 
                informative!
            </h4>
        </aside>

    </section>

    <section id="tech">
        <h2>Technologies Used</h2>
        <hr>
        <div>
            <!-- when clicked, open tab in a new folder of the website -->
            <section>
                <img src="images/express.png" alt="">
            </section>
            <section>
                <img src="images/javascript.png" alt="">
                <h4 class="techNotHovered">Javascript</h4>
            </section>
            <section>
                <img src="images/mongo.png" alt="">
                <h4 class="techNotHovered">MongoDB</h4>
            </section>
            <section id="ejs">
                <h3>EJS</h3>
            </section>
        </div>
    </section>

    <section id="footer">
        <h2>Final Words</h2>
        <hr>
        <div id="footerContainer">
            <div class="footerIndiv">
                <h3>See More Projects</h3>
                <img src="images/mongo.png" alt="">
            </div>
            <div class="footerIndiv">
                <h3>Find Me At</h3>
                <div id="socials">
                    <a href="https://steamcommunity.com/id/marioprogrammergfriendme">
                        <img src="images/steam.png" alt="">
                    </a>
                    <a href="#">
                        <img src="images/instagram.png" alt="">
                    </a>
                    <a href="#">
                        <img src="images/discord.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="js/index.js">
    </script>
</body>
</html>