<%- include("partials/header") %>
    <main>
        <h1><%=title%></h1>
        <% if (signUp) { %>
        <form action="/signup" method="POST">
        <% } else { %>
        <form action="/login" method="POST">
        <% } %>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="binary101" autocomplete="off" required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="mypassword" autocomplete="off" required>
            <!-- if in sign in page, show the confirmation input -->
            <% if (signUp) { %>
                <label for="username">Confirmation</label>
                <input type="password" name="confirmation" placeholder="mypassword" autocomplete="off" required>
            <% } %>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>