<%- include("partials/header") %>
<!-- TODO disable the like functionality, or resend the user to sign up / login when the button is hit... and they are not signed in currently -->

            <% if (favorites) { %>
                <h1>Favorites</h1>
                <section id="favoriteContainer">
                    <section class="result">
                        <section class="column"></section>
                        <section class="column"></section>
                        <section class="column"></section>
                    </section>

                </section>
            <% } else { %>
                <main>
                    <h1>Giphy Daily Project.</h1>
                    <input type="text" name="title" placeholder="Type here..." autocomplete="off" required>
                    <button type="submit">Search</button>

                    <!-- gifs are going to go here -->
                    <section class="result">
                        <section class="column"></section>
                        <section class="column"></section>
                        <section class="column"></section>
                    </section>
                </main>
            <% } %>
        </main>
        <!-- By Mario Molinito -->

        <script src="js/indexScript.js">

    
        </script>
    </body> 
</html>