nav
{
    justify-content: space-between;
}

#tests
{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* TODO: in the furture, size the test based on how many question each one has. Layout them using the giphy layout */
    justify-content: flex-start;
    align-items: center;
}
form
{
    padding: 0;
    margin: 0;
    background: transparent;
}
.hidden
{
    visibility: hidden;
    display: none;
}
a:hover
{
    cursor: pointer;
}
.indivContainer
{
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}
.indivContainer:hover
{
    cursor: pointer;
}
.indivContainer button:nth-child(1)
{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.indiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2E8BC0;
    flex-wrap: wrap;
}
.indiv h1
{
    margin-bottom: 0;
}
.indiv p
{
    max-width: 500px;
    padding: 0;
    margin-top: 0;
}
.indiv div
{
    padding: 0 2em;
}
b
{
    background: #B1D4E0;
    color: #0C1446;
    padding: 0 .5em;j
}