main
{
    align-items: center;
}
/* .correct
{
    background: green;
    color: white;
}
.incorrect
{
    background: red;
    color: white;
}
.answered
{
    opacity: 76%;
}

.hidden 
{
    visibility: hidden;
} */