label:hover
{
    cursor: pointer;
}
input[type=radio]:hover
{
}

#testInformation
{
    margin: 0 auto;
    width: 100%;
}

#questions
{
    margin: 0 auto;
    width: 100%;
}

.questionContainer:nth-child(even)
{
    background: gray;
}

.questionContainer:nth-child(odd)
{
    background: transparent;
}