<%- include("partials/header") %>
    <main>
        <% if (signUp) { %>
        <form action="/signup" method="POST">
        <% } else { %>
        <form action="/login" method="POST">
        <% } %>
            <input type="text" name="username" placeholder="Username" required  autocomplete="off">
            <input type="password" name="password" placeholder="Password" required autocomplete="off">
            <% if (signUp) { %>
                <input type="password" name="confirmation" placeholder="Retype" required autocomplete="off">
            <% } %>
            <button type="submit">Create</button>
        </form>
        <a href="/">Go Home</a>
    </main>
</body>
</html>