<%- include("partials/header") %>
        <h1>Tests</h1>
        <section id="tests">
            <select name="sorting" id="sortingMethod">
                <option value="" selected disabled >Sorting Method</option>
                <option value="subject">Subject</option>
                <option value="default">Default</option>
            </select>
            <section id="testSection">
                <section id="firstColumn"></section>
                <section id="secondColumn"></section>
                <section id="thirdColumn"></section>
            </section>
            <h3 id="testMessage" class="hidden">You do not have any tests.</h3>
        </section>

        <form action="/addTest">
            <button>Add Test</button>
        </form>
    </main>

    <script src="js/home.js"></script>
</body>
</html>