<%- include("partials/header") %>
        <h1>Tests</h1>
        <section id="tests">
            <% if (tests) { %>
                <% for (const test of tests) { %>
                    <div class="indiv">

                    </div>
                <% } %>
            <% } else {%>
                <h3>You do not have any tests.</h3>
            <% } %>
        </section>

        <form action="/addTest">
            <button>Add Test</button>
        </form>
    </main>

</body>
</html>