<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Phase 1</title>
</head>
<body>
    <button id="start">Start Test</button>
    <!-- test section -->
    <section>
        <div class="question">
            <h1>What is the name of ur mum?</h1>
            <button onclick="question(this)" name="correct">This one?</button>
            <button onclick="question(this)">This one?</button>
            <button onclick="question(this)">This one?</button>
            <button onclick="question(this)">This one?</button>
        </div>
        <div class="question">
            <h1>What is the color of the sky?</h1>
            <button onclick="question(this)">This one?</button>
            <button onclick="question(this)">This one?</button>
            <button onclick="question(this)">This one?</button>
            <button onclick="question(this)" name="correct">This one?</button>
        </div>
        <button id="done">Done</button>
    </section>
    <p id="result"></p>

    <script src="js/index.js"></script>
</body>
</html>