<%- include("partials/header") %>
    <main>
        <!-- home page -->
        <h1>Quiz Game | Daily Project</h1>
        <img src="images/logo.png" alt="">
    </main>
    <script src="js/index.js"></script>
</body>
</html>