<%-include("partials/header")%>
    </main>

    <section id="attention">
        <div id="information">
            <h1>Testing Application</h1>
            <p>Test yourself with this sleek themed testing web application.</p>
            <!-- <p>Test. Prosper. Grow.</p> -->
        </div>
        <div></div>
        <img src="images/background.jpg" alt="">
    </section>
    <section id="capabilitiesContainer">
        <h2>What can I do?</h2>
            <section id="capabilities">
                <div>
                    <img src="images/add.png" alt="">
                    <h2>Creating</h2>
                    <p>Have an upcoming test? Test yourself, by creating a sleek test! You will have many available
                        options to select from, such as subject, and difficulty level.
                    </p>
                </div>
                <div>
                    <img src="images/subject.png" alt="">
                    <h2>Subject</h2>
                    <p>By creating a subject, you can better organize your test. As for an example, if you have an 
                        upcoming Math exam, you can create a Math subject, and create a test under thus subject. This allows
                        for easy sorting of subject categories!
                    </p>
                </div>
                <div>
                    <img src="images/progress.png" alt="">
                    <h2>Progress</h2>
                    <p>Visually seeing your progress will motivate you even more! After each test,
                        you will be shown your score and it will be added to your score page! Optionally,
                        you can also look at a graph of your recent test! Determination makes perfect.
                    </p>
                </div>
            </section>
    </section>
    <section id="whyContainer">
        <section id="why">
            <h2>Why Title here</h2>
            <p>description here Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, ducimus in dolorem perspiciatis ex consequatur neque dolor, nesciunt error dolores natus aut at sunt officiis nostrum modi consequuntur maxime saepe.</p>
        </section>
        <img src="images/Questionmark.png" alt="">
    </section>
</body>
</html>