<%-include("partials/header")%>
        <h1>Quiz Game | Daily Project</h1>
        <p>Quiz yourself with this easy to use web application!</p>
        <!-- TODO: upload daily project logo to github, download here. -->
        <img src="images/replaceWithDpLogo.png" id="logo" alt="">
        <div class="other">
            <p><b>Interested in more? Check out my github page!</b></p>
            <img src="images/githubIcon.png" class="githubIcon"">
        </div>
    </main>
</body>
</html>