body
{
    background: black;
    height: 100vh;
}
main
{
    height: 80vh;
    align-items: center;
    justify-content: center;
}

form
{
    display: flex;
    flex-direction: column;
}
label, button
{
    margin-top: .8em;
}