<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- stylesheets -->
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <% for (const link of links) { %>
                <li><a href="<%=link.where%>"><%=link.title%></a></li>
            <% } %>
        </ul>
    </nav>